.home {
  display: flex;
  background-color: rgb(31, 31, 36);

  .main_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-left: 75px;
    background-color: black;
  }
}
